.github/
.git/
.mypy_cache/
.pytest_cache/
.ruff_cache/
__pycache__/
ktem_app_data/
env/
.venv/
*.egg-info/
build/
dist/
.pre-commit-config.yaml
.commitlintrc
.gitignore
.gitattributes
README.md
*.zip
*.sh

!/launch.sh
!/scripts/download_pdfjs.sh
